section {
	max-width:1000px;
	margin:0 auto;
}

figure {
	position:relative;

	img {
		width:100%;
		height:auto;
	}

	figcaption {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background:rgba(255,255,255,.5);
	}
}

.sd-media {
	.sd-media-image {
		width:40%;
		float:left;
		margin:0 1% 1% 0;
	}
}