html, body {
	min-height:100%;
	min-width:100%;
	background:#666;
	margin:0;
	padding:1vmin;
}

#app-root-container {
	max-width:1200px;
	padding:4vmin 5vmin;
	font-size:2vmin;
	line-height:1.4em;
	margin:0 auto;
	background:#fff;
	border-radius:2vmin;
}

figure {
	position:relative;

	img {
		width:100%;
		height:auto;
	}

	figcaption {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background:rgba(255,255,255,.5);
	}
}

.sd-media {
	.sd-media-image {
		width:40%;
		float:left;
		margin:0 1% 1% 0;
	}
}



#test-container {
	p {
		font-size:1.2em;
		line-height:1.45em;
		text-align: justify;
	}
}