@import "fonts.scss";
@import "vars.scss";

// Grid

.catalog-grid {
	display:flex;
	flex-wrap:wrap;
	align-items:stretch;
	justify-content:space-between;

	.grid-item {
		$shadow:0 5px 10px $shadowColor;
		flex:1 1 $listItemMax;
		overflow:hidden;
		padding:$uiPad 0;
		margin-bottom:$uiPad * -1;

		.media-image {
			padding:0 $uiPad;
			text-align:center;
			position:relative;
			z-index:10;

			img {
				box-shadow:0 .7rem 3rem $shadowColor;
				max-width:$listItemMax;
			}
		}

		.media-body {
			align-items:center;
			background:$black;
			box-shadow:0 1px 10px 4px $shadowColor;
		}

		.media-title {
			text-transform: uppercase;
			text-align: center;
			color:#fff;
			padding:$listItemPad;
		}
	}
}