$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "fonts.scss";

// vars
$shadowColor: rgba(0,0,0,0.4);
$listItemMax:25rem;
$listItemPad:1rem;
$fatBorder:.4rem;
$gridGutter:$listItemPad * 2.5;

// Resets

h1, h2, h3, h4, h5, h6 {
	margin:0;
}

body {
	font-size:1vmin;
	background:#eee;
}

html, body, body > div {
	height:100%;
}

.root-container {

	font-family:$proxima;
	font-size:1.6rem;
	line-height:1.43em;
	//display:flex;
	//flex-direction:column;

	.category-list, .product-list {
		overflow-x:none;
		overflow-y:auto;
		height:100%;
	}

	.product-list {
		flex:1 1 auto;
	}

	a {
		color:inherit;
		text-decoration: none;
	}

	h1 {
		background:#fff;
		color:#000;
		padding:$listItemPad ($listItemPad * 2);
		font-family: $knockout;
		text-transform: uppercase;
		font-size:6rem;
		line-height:1em;
		letter-spacing: .2rem;
		border-bottom:$fatBorder solid #000;
		box-shadow:0 .4rem 1.5rem $shadowColor;
		margin-bottom:$gridGutter;

		.h-link {
			display:flex;
			align-items:center;
		}

		.h-icon {
			color:inherit;
			font-size:.5em;
			margin-right:1rem;
			text-decoration:none;
		}
	}
}

.product-list {
	display:flex;
	flex-wrap:wrap;
	align-items:stretch;
	justify-content:space-between;

	.product-list-item {
		//width:22%;
		flex:1 1 $listItemMax;
		margin-bottom:$gridGutter;
		display:flex;
		flex-direction:column;
		align-items:stretch;
	}

	.pli-name {
		text-transform: uppercase;
		text-align: center;
		background:rgba(255,255,255,0.7);
		background:#000;
		color:#fff;
		padding:.75rem 1rem;
		flex-grow:1;
		display:flex;
		flex-direction:column;
		justify-content:center;
		box-shadow:0 .7rem 3rem $shadowColor;
	}

	.pli-image {
		width:100%;
		text-align:center;
		padding-top:7%;
		padding:0 $listItemPad;

		img {
			width:100%;
			max-width:$listItemMax - ($listItemPad * 2);
			padding:1rem;
			background:#fff;
			height:auto;
			border:.4rem solid #000;
			border-width:$fatBorder .15rem 0;
			box-shadow:0 .7rem 3rem $shadowColor;
		}
	}
}
