@import "fonts.scss";
@import "vars.scss";

html, body, #app-wrap, #app-root, #app-view, .root-container {
	height:100%;
}

#app-root {
	display:flex;
	flex-direction:column;
	align-items:stretch;
}

#app-main {
	position:relative;
	flex:1 1 auto;
	overflow:hidden;
}

#app-content {
	position:absolute;
	height:100%;
	width:100%;
	overflow-y:scroll;
}

// Header

#app-header {
	position:relative;
	z-index:10;
	flex:0 0 auto;
	display:flex;
	align-items:center;
	justify-content:space-between;
	text-align:left;
	font-size:5rem;
	padding:$listItemPad/3 $listItemPad;
	border-bottom:$fatBorder solid #000;
	box-shadow:0 .4rem 1rem $shadowColor;

	.header-logo-wrap {
		flex:0 2 20rem;
	}

	#logo {
		display:block;
		width:100%;
		height:auto;
	}

	.header-ui-wrap {
		display:flex;
		flex:1 1 auto;
		align-items:center;
		justify-content:flex-end;

		> * {
			display:block;
			font-size:2.5rem;
			line-height:1em;
			padding-left:1.5rem;
		}

		a {
			color:inherit;
			text-decoation:none;
		}

		.count-wrap {
			position:relative;

			.count {
				position:absolute;
				top:-3px;
				left:8px;
				background-color:$teal;
			}
		}

		.wish, .search {
			color:$teal;
		}
	}
}

.root-container {
	transition:opacity $panelTime $panelEase;
	opacity:1;
	font-family:$proxima;
	font-size:1.6rem;
	line-height:1.43em;
	background:#eee;
}

// Panel

.app-panel {
	position:absolute;
	background:#fff;
	padding:$listItemPad;

	&.panel-bottom {
		left:0;
		bottom:-100%;
		transition:bottom $panelTime $panelEase;
		border-top:$fatBorder * 1.5 solid #000;
		box-shadow:0 -.4rem 1.5rem $shadowColor;
		height:80%;
		width:100%;
	}

	&.panel-left {
		bottom:0;
		left:-100%;
		transition:left $panelTime $panelEase;
		border-right:$fatBorder * 1.5 solid #000;
		box-shadow:.4rem 0 1.5rem $shadowColor;
		height:100%;
		width:80%;
	}

	.search-bar {
		margin-bottom:$listItemPad;
	}

	.core-links {
		display:flex;
		justify-content:space-between;
		align-items:strech;

		> * {
			flex:1 1 auto;
			display:block;
			background:$teal;
			font-size:2.5rem;
			text-align:center;
			color:#fff;
			padding:$listItemPad/2 $listItemPad;
			font-family:$knockout;
			line-height:1em;
			text-transform: uppercase;
			margin-bottom:$listItemPad;
			letter-spacing: 2px;

			&:not(:first-child){
				margin-left:$listItemPad;
			}
		}
	}

	.wishlist-link {
	}
}

.panel-active {
	.app-panel {
		overflow-y:scroll;

		&.panel-bottom {
			bottom:0;
		}

		&.panel-left {
			left:0;
		}
	}

	#app-content {
		overflow:hidden;
	}

	.root-container {
		opacity:.6;
	}
}

#cat-panel {
	// Mini Reset
	.panel-group {
		.panel {
			border-radius:0;
			border:none;
			box-shadow: none;

			.panel-heading {
				background: none;
				border:none;
				padding:0;
			}

			.panel-body {
				border:none;
				padding:0;
			}
		}
	}

	// Panel Style
	.panel-group {
		.panel {
			.panel-heading {
				.panel-title {
					font-family:$knockout;
					text-transform: uppercase;
					font-size:2.5rem;
					line-height: 1em;
					background:#000;
					padding:$listItemPad/2 $listItemPad;
					color:#fff;
					letter-spacing: 1px;
				}
			}

			.panel-body {
				border:$thinBorder solid #000;
				border-bottom-width: $fatBorder;
				//padding:$listItemPad 0;
			}
		}
	}

	// Grid override
	.catalog-grid {
		$grid-item-max:$listItemMax * .5;

		.grid-item {
			flex-basis:$grid-item-max;

			.media-image {

				img {
					max-width:$grid-item-max;
				}
			}

			.media-body {
				box-shadow:0 2px 10px 3px $shadowColor;
			}
		}
	}
}