
$orange: #ff6600;
$green: #71AD53;
$teal: #5FC5C1;
$red: #f62e23;
$yellow: #eae64b;

// vars
$shadowColor: rgba(0,0,0,0.4);
$listItemMax:18rem;
$panelItemMax:14rem;
$listItemPad:1rem;
$uiPad:$listItemPad * 2;
$thinBorder:.1rem;
$fatBorder:.4rem;
$gridGutter:$listItemPad * 2.5;
$panelTime:.7s;
$panelEase:ease;
$black:#000;