<figure class="sd-figure-image">
    <a class="sd-figure-image-link" href="{{ block.fields.url.link.href }}">
        <img sd-render-image sd-image="block.fields.image" />
    </a>
    <figcaption ng-if="block.fields.attribution || block.fields.caption">
        <div class="sd-media-attribution" ng-if="block.fields.attribution" sd-render-inline sd-inline="block.fields.attribution"></div>
        <div class="sd-media-caption" ng-if="block.fields.caption" sd-render-inline sd-inline="block.fields.caption"></div>
    </figcaption>
</figure>