<section class="root-container category-container">
	<h1 class="category-name">
		<!--<a class="h-link" href="#/catalog/id/{{ cat.parentId }}">
			<span class="h-icon glyphicon glyphicon-circle-arrow-left"></span>
			<span>{{ cat.name }}&nbsp;</span>
		</a>-->
		{{ cat.name }}
	</h1>
	<div class="catalog-grid" ng-if="products.length > 0">
		<product-item sd-product="p" ng-repeat="p in products" />
	</div>
	<div class="empty-message" ng-if="products.length == 0">
		No Products Here. Trying looking somewhere else.
	</div>
</section>

