<div>
    <h1>New Page</h1>
    <div>
        Title: <input ng-model="page.title" />
    </div>
    <div>
        Url: <input ng-model="page.url" />
    </div>

    <h2>Sections <a ng-click="addSection()">Add Section</a></h2>
    <ul>
        <li ng-repeat="(si,section) in page.sections">
            <div>Section {{ si + 1 }}</div>
            <h3>Blocks: <a ng-click="addSection()">Add Block</a></h3>
            <ul>
                <li ng-repeat="(bi,block) in section.blocks">Block {{ bi }}</li>
            </ul>
        </li>
    </ul>
</div>

