<section class="root-container product-container">
	<h1 class="category-name">
		{{ product.name }}
	</h1>
	<div  class="product-gallery">
		<carousel interval="-1">
			<slide ng-repeat="i in images" active="i.active">
				<img ng-src="{{ i.src }}" style="margin:auto;">
				<!--<div class="carousel-caption">
					caption
				</div>-->
			</slide>
		</carousel>

	</div>

	<!--<h1 class="product-name">
		{{ product.name }}
	</h1>-->

	<div class="product-detail">
		<div class="product-add input-group">
			<input type="text" class="form-control" placeholder="Quantity" ng-model="quant">
			<span class="input-group-btn">
				<button class="btn btn-success btn-quant" type="button" ng-click="add()">
					<span class="glyphicon glyphicon-shopping-cart"></span>
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<button class="btn btn-info btn-wish" type="button" ng-click="wishlist()">
					<span class="glyphicon glyphicon-heart-empty"></span>
				</button>
			</span>
		</div>
		<div class="product-description" ng-bind-html="product.description">
		</div>
		<div class="product-social">
			<span class="sd-icon sd-icon-facebook"></span>
			<span class="sd-icon sd-icon-twitter"></span>
			<span class="sd-icon sd-icon-pinterest"></span>
			<span class="sd-icon sd-icon-mail2"></span>
		</div>
	</div>
</section>