
<div id="app-root" ng-class="{ 'panel-active' : panel }">
	<header id="app-header">
		<div class="header-logo-wrap">
			<a href="#/catalog/">
				<img id="logo" src="/images/logo-color.svg" />
			</a>
		</div>
		<div class="header-ui-wrap">
			<a class="count-wrap" href="#/cart">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				<span class="badge count">{{ count }}</span>
			</a>
			<a href="#/wishlist" class="wish glyphicon glyphicon-heart-empty"></a>
			<span class="btn glyphicon glyphicon-th" ng-click="panel = !panel"></span>

		</div>
	</header>
	<div id="app-main">
		<div id="app-content">
			<div id="app-view" ui-view></div>
		</div>
		<div id="menu-panel" class="app-panel panel-bottom">
			<accordion close-others="true" id="cat-panel">
				<accordion-group heading="{{m.title}}" is-open="false" ng-repeat="m in menu">
					<div class="menu-subs">
						<a class="menu-sub" ng-href="#/category/{{ c.catId }}" ng-repeat="c in m.children">
							<div class="sub-image">
								<img ng-src="{{ getCatImage(c.catId)|prodize }}" />
							</div>
							<div class="sub-name">
								{{ c.title }}
							</div>
						</a>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>

