
<div id="app-root" ng-class="{ 'panel-active' : panel }">
	<header id="app-header">
		<div class="header-logo-wrap">
			<a href="#/catalog/">
				<img id="logo" src="/images/logo-color.svg" />
			</a>
		</div>
		<div class="header-ui-wrap">
			<a class="count-wrap" href="#/cart">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				<span class="badge count">{{ count }}</span>
			</a>
			<a href="#/wishlist" class="wish glyphicon glyphicon-heart-empty"></a>
			<span class="btn glyphicon glyphicon-th" ng-click="panel = !panel"></span>

		</div>
	</header>
	<div id="app-main">
		<div id="app-content">
			<div id="app-view" ui-view></div>
		</div>
		<div id="menu-panel" class="app-panel panel-bottom"></div>
	</div>
</div>

