<section class="root-container search-container">
	<h1 class="category-name">
		Product Search
	</h1>
	<form class="search-bar" ng-submit="search()">
		<div class="product-search input-group">
			<input type="text" class="form-control" placeholder="Search" ng-model="query">
			<span class="input-group-btn">
				<button class="btn btn-success btn-search" type="button" ng-click="search()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</form>
	<div class="catalog-grid" ng-if="products.length > 0">
		<product-item sd-product="p" ng-repeat="p in products" />
	</div>
	<div class="empty-message" ng-if="!searched">
		Use the bar above to search for products.
	</div>
	<div class="empty-message" ng-if="searched && products.length == 0">
		We couldn't find any products that matched your search. Try searching for something else.
	</div>
</section>
