<section class="root-container cart-container">
	<h1 class="category-name">
		Wishlist
	</h1>
	<table class="cart-list" ng-if="count > 0">
		<thead>
			<tr>
				<th class="header-detail">Product</th>
			</tr>
		</thead>
		<tbody>
			<tr class="product-row" ng-repeat="p in list">
				<td class="product-detail">
					<div class="product-image">
						<img width="450px" height="682px" ng-src="{{ p.image|prodize }}" />
					</div>
					<div class="product-name">{{ p.name }} </div>
				</td>
				<td>
					<div class="btn-quant" ng-click="add(p)">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<span class="glyphicon glyphicon-plus"></span>
					</div>
				</td>
				<td>
					<div ng-click="remove(p)">
						<span class="glyphicon glyphicon-remove"></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="empty-message" ng-if="count == 0">
		Your list is empty. You should buy something purdy.
	</div>
	<!--{{ list|json }}-->
</section>
